
<div class="container">

  <h1>All Requests</h1>
  <br>
  <br>
    <center>
    <% @requests.each do |f| %>
      <div class= "container card-review">
        <div class= "row">
          <center><%= cl_image_tag(f.helper.photo.key, class: "img-show-s") %></center>
            <br><br>
          <h1><%=" #{f.helper.first_name}  #{f.helper.last_name}"  %> </h1><br>
            <h2>Bio: <%=" #{f.helper.bio} "  %></h2><br>
        </div>
        My request with <%= f.helper.first_name %> is at <%= f.location%>.
        <% s = f.created_at %>
        This request was made on <%= s.strftime('%d-%m-%Y') %>.
        <br>
        <br>
        <%= link_to "add review", new_helper_request_review_path(f.helper.id, f.id), class: "link"%>

      </div>
    <% end%>
    </center>
</div>
