<h1>My Requests</h1>
<br>

<% @requests.each do |f| %>
  <center> <%= cl_image_tag(f.helper.photo.key, class: "img-show-s") %> </center>
  <h2><%=" #{f.helper.first_name}  #{f.helper.last_name} "  %></h2>
  <p>Request date: <% s = f.created_at %><%= s.strftime('%d-%m-%Y') %>.</p>
  <p>Address: <%= f.location%>.</p>
  <center> <%= link_to "Leave a Review", new_helper_request_review_path(f.helper.id, f.id), class: "btn" %> </center> <br>
<% end %>
