<div class="container" align="center">
  <div class="col-xs-4">
    <h1>Confirm Request</h1>
      <br>
      <%= cl_image_tag(@helper.photo.key, class: "img-show") %>
      <br>
      <h1><%=" #{@helper.first_name}  #{@helper.last_name}"  %> </h1><br>
      <h3>Bio: <%=" #{@helper.bio} "  %></h3><br>
        <div class="row">
          <%=  simple_form_for(Request.new, :url => { :action => "create" }) do |f|%>
            <%= f.text_field :helper_id,  type: "hidden" %>
            <%= f.text_field :commuter_id,  type: "hidden"  %>
            <%= f.text_field :location,  type: "hidden"  %>
            <%= f.submit class: 'btn' %>
          <% end %>
          </div>
          <%=link_to "Return to Helpers", helpers_path, class: "btn" %>
  </div>
</div>
