<%= console %>

<div class="container">
  <% if @requests.last.commuter_id = current_user%>
    <p><%= f.commuter.first_name %> is meeting <%= f.helper.first_name %> at <%= f.location%></p>
    <p>Request accepted at <%= f.accepted_time %></p>
</div>

<% end %>

<div class="container">
  <p>The location is <%= @requests.last.location%></p>
  <p><%= @requests.last.commuter.first_name %> is meeting <%= @requests.last.helper.first_name %> </p>
  <p>Request accepted at <%=@requests.last.accepted_time %></p>
</div>
