<div class="container">
 <h1>Helpers near you</h1>
  <br>
  <div style="width: 100%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="container" >
    <% @helpers.each do |helper| %>
      <% if helper.availability == true %>
        <div class= "cards_list">
          <div class="row">
            <h2>Hi! My name is <%=" #{helper.first_name}  #{helper.last_name}" %></h2>
          </div>
          <div class="row">
            <p>About me: <%=" #{helper.description}" %> </p>
            <p>distance 300 metres</p>
          </div>
          <div class="row">
            <div class="column" align= "center">
          <%= link_to "Connect", helper_path(helper), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>
