<h5> <%= link_to "live request",   helper_request_path(:commuter) %> </h5>

<div id="login-container">
<%= cl_image_tag(@helper.photo.key, width: 400, height: 300, crop: :fill) %>
  <div class="profile-img"></div>
    <div class ="helper_name">
      <h1><%=" #{@helper.first_name}  #{@helper.last_name}"  %> </h1>
    </div>
    <div class="description">
      <p>Description goes here</p>
    </div>
    <button> <h5> <%= link_to "Resuest #{ @helper.first_name} support", new_helper_request_path(@helper, @request) %> <h5></button>
    <button> <h5> <%= link_to "Back list of helpers", helpers_path %> <h5> </button>


    <footer>
      <div class= "container">
        <%if @reviews.present? %>
          <div class= "row">
          <% @reviews.each do |review| %>
            <%= "#{review.description} " %>
          <% end %>
          </div>
        <%end %>
      </div>

    </footer>
  </div>
</div>
