<!DOCTYPE html>
<html>

<body>
<div class= "container">
  <div class="column" width="300px">
            <div class="row justify-content-center" style="margin: 90px;">
                <div class="col-8">

                  <div class="container" width="500px" >
                    <center><%= cl_image_tag(@helper.photo.key, class: "img-show") %></center>
                      <br><br>
                    <h1><%=" #{@helper.first_name}  #{@helper.last_name}"  %> </h1><br>
                      <h2>Bio: <%=" #{@helper.bio} "  %></h2><br>
                   
                  </div>
                  <br>
                  <br>
                </div>
            </div>
  </div>




      <div style="width: 100%; height: 350px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>


  </div>
</div>
</body>
</html>
