
<head>

  <meta charset='utf-8' />
    <title>Getting started with the Mapbox Directions API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <style>
      #map {
        position: ;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 300px;
      }
    </style>

</head>

<body>

  <div class= "container">
    <div class="column" width="300px">
        <div class="row justify-content-center" style="margin: 24px;">
            <div class="col-6">

              <div class="container" style="width: 400px" >
                <center><%= cl_image_tag(@helper.photo.key, class: "img-show") %></center>
                  <br><br>
                <h1><%=" #{@helper.first_name}  #{@helper.last_name}"  %> </h1><br>
                  <h2>Bio: <%=" #{@helper.bio} "  %></h2><br>

              </div>
              <br>
              <br>
            </div>
        </div>
    </div>
    <div class= "column">
    <div class="row justify-content-center" style="margin: 24px;">
      <div id="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @helper.location %>"
        data-mapbox-api-key-value="<%= ENV['pk.eyJ1IjoidGxhLXZlbGxlIiwiYSI6ImNsMXBkMDdueDBiaGwzb211Z2FlNXVueWwifQ.OOXcEebwEtmLujTGMFyTeg'] %>">
          <div id="instructions">
          </div>
      </div>
          <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoidGxhLXZlbGxlIiwiYSI6ImNsMXBkMDdueDBiaGwzb211Z2FlNXVueWwifQ.OOXcEebwEtmLujTGMFyTeg';
                const map = new mapboxgl.Map({
                  container: 'map',
                  style: 'mapbox://styles/mapbox/streets-v11',
                  center: [-0.076225, 51.5307], // starting position
                  zoom: 12
                });

                // set the bounds of the map
                const bounds = [
                  [-123.069003, 45.395273],
                  [-122.303707, 45.612333]
                ];
                map.setMaxBounds(bounds);

                // an arbitrary start will always be the same
                // only the end or destination will change

                const start = [-0.076225, 51.5307];

                // create a function to make a directions request
                async function getRoute(end) {
                // make a directions request using cycling profile
                // an arbitrary start will always be the same
                // only the end or destination will change
                const query = await fetch(
                `https://api.mapbox.com/directions/v5/mapbox/walking/${start[0]},${start[1]};${end[0]},${end[1]}?steps=true&geometries=geojson&access_token=${mapboxgl.accessToken}`,
                    { method: 'GET' }
                  );
                  const json = await query.json();
                  const data = json.routes[0];
                  const route = data.geometry.coordinates;
                  const geojson = {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                      type: 'LineString',
                      coordinates: route
                    }
                  };
                // if the route already exists on the map, we'll reset it using setData
                  if (map.getSource('route')) {
                    map.getSource('route').setData(geojson);
                  }
                // otherwise, we'll make a new request
                  else {
                    map.addLayer({
                      id: 'route',
                      type: 'line',
                      source: {
                        type: 'geojson',
                        data: geojson
                      },
                      layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                      },
                      paint: {
                        'line-color': '#3887be',
                        'line-width': 5,
                        'line-opacity': 0.75
                      }
                    });
                  }
                // turn instructions //
                const instructions = document.getElementById('instructions');
                const steps = data.legs[0].steps;

                let tripInstructions = '';
                for (const step of steps) {
                  tripInstructions += `<li>${step.maneuver.instruction}</li>`;
                }
                instructions.innerHTML = `<p><strong>Trip duration: ${Math.floor(
                  data.duration / 60
                )} min  </strong></p><ol>${tripInstructions}</ol>`;
              }

              map.on('load', () => {
                // make an initial directions request that
                // starts and ends at the same location
                getRoute(start);
              });
                // Add starting point to the map
                map.addLayer({
                  id: 'point',
                  type: 'circle',
                  source: {
                    type: 'geojson',
                    data: {
                      type: 'FeatureCollection',
                      features: [
                        {
                          type: 'Feature',
                          properties: {},
                          geometry: {
                            type: 'Point',
                            coordinates: start
                          }
                        }
                      ]
                    }
                  },
                  paint: {
                    'circle-radius': 10,
                    'circle-color': '#3887be'
                  }
                });
                // this is where the code from the next step will go
                map.on('click', (event) => {
                  const coords = Object.keys(event.lngLat).map((key) => event.lngLat[key]);
                  const end = {
                    type: 'FeatureCollection',
                    features: [
                      {
                        type: 'Feature',
                        properties: {},
                        geometry: {
                          type: 'Point',
                          coordinates: coords
                        }
                      }
                    ]
                  };
                  if (map.getLayer('end')) {
                    map.getSource('end').setData(end);
                  } else {
                    map.addLayer({
                      id: 'end',
                      type: 'circle',
                      source: {
                        type: 'geojson',
                        data: {
                          type: 'FeatureCollection',
                          features: [
                            {
                              type: 'Feature',
                              properties: {},
                              geometry: {
                                type: 'Point',
                                coordinates: coords
                              }
                            }
                          ]
                        }
                      },
                      paint: {
                        'circle-radius': 10,
                        'circle-color': '#f30'
                      }
                    });
                  }
                getRoute(coords);
              });

          </script>
    </div>
  </div>
  <div class= "container" align= "center">
<div id='map' style='width: 1000px; height: 300px; center;'></div>
</div>


<script>

mapboxgl.accessToken = 'pk.eyJ1IjoidGxhLXZlbGxlIiwiYSI6ImNsMXBkMDdueDBiaGwzb211Z2FlNXVueWwifQ.OOXcEebwEtmLujTGMFyTeg';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v11', // style URL
center: [-74.5, 40], // starting position [lng, lat]
zoom: 9 // starting zoom
});
</script>

</body>
</html>
